{% extends '_base.html' %}
{% load socialaccount %}
{% block content %}
        <main>
            <div id="main">
                <div id="overlay">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-12">
                                <div id="logo-wrapper">
                                    <img id="logo-jaraqui" src="/static/img/logo.png">
                                </div>
                            </div>
                            <div id="edition-wrapper" class="col-sm-12">
                                <p class="text-center">Acesse e indique seus nomes favoritos para cada categoria!</p>
                            </div>
                            <div id="buttons-wrapper" class="col-sm-12">
                                <p class="text-center" style="margin: 0;">
                                    <a class="btn sign-btn fb-btn" href="{% provider_login_url "facebook" method="oauth2" %}" value="email,public_profile,user_friends">Entrar com Facebook</a>
                                </p>
                                <p class="text-center" style="margin: 0;">
                                    <a class="btn sign-btn gl-btn" href="{% provider_login_url "google" %}" style="">Entrar com Google</a>
                                </p>
                            </div>
                            <div id="social-wrapper" class="col-sm-12 text-center">
                                <p>ORGANIZAÇÃO<br>COMUNIDADE JARAQUI VALLEY</p>
                                <span><a href="https://www.facebook.com/jaraquivalley" target="_blank">
                                    <img src="/static/img/fb.png"></a></span>
                                <span><a href="https://www.instagram.com/jaraquivalley" target="_blank">
                                    <img src="/static/img/insta.png"></a></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
{% endblock %}