{% extends '_base.html' %}
{% block content %}
        <main>
            <div class="award-wrapper">
                <div class="container" style="position: relative;">
                    <div class="logout"><a href="{% url 'logout' %}">Sair</a></div>
                    <h1>Jaraqui Graúdo 2017</h1>
                    <h5>Primera Fase - indicações</h5>
                </div>
            </div>
            <div class="container">
                {% for item in lista %}
                <div class="category-wrapper row">
                    <div class="category col-sm-12 col-md-3">
                        <h2>#<br>{{ item.category.name }}</h2>
                        <p class="requirement requirement-label">Requisitos:</p>
                        {% for r in item.requirements %}
                            <p class="requirement requirement-item">{{ r.text }}</p>
                        {% endfor %}
                    </div>
                    <div class="indication col-sm-12 col-md-9" category-id="{{ item.category.id }}">
                        <div class="form-group">
                            <label for="category-{{ item.category.id }}">Indicação:</label>
                            <input id="nomination-{{ item.category.id }}"
                                   class="form-control" type="text" value="{{ item.response }}">
                        </div>
                        <div class="form-group">
                            <button class="btn vote-btn btn-primary float-right" type="button"
                                    category-id="{{ item.category.id }}">Votar</button>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </main>
{% endblock %}